extends layout

block content
  .container
    h1 Hello, #{user.local.username}
      a.btn(href="/logout") Logout
    br
    h2 Usage
    canvas(id="myChart", width="400", height="400")
    h2 Image Gallery (#{images.length})
    form(action="/upload", method="post", enctype="multipart/form-data", id="imageupl")
      input(type="file", name="file", class="inputfile")
      button(type="submit") upload
      
    .grid
      #images
        for img in images
          .col-1-2 
            .image
              .thumbnail(style="background-image: url(" + img.meta.location + ")")
              .image_data
                p <strong>File Name:</strong> #{img.meta.originalname}
                p <strong>Actions: </strong>
                  a(href="/delete/"+img.meta.key) Delete
           
