html
  head
    title= title
    link(rel='stylesheet', href='./css/style.css')
    link(href="https://fonts.googleapis.com/css?family=Overpass:400,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu+Mono", rel="stylesheet")
  body
    block content
